<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Huge Basket Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--Import Google Icon Font-->
   
    <link rel="stylesheet" href="materialize.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    
    </head>
<body onload="
M.toast({html: 'Welcome to the Huge Basket!'})" style="background: hsla(340, 80%, 69%, 1);

background: linear-gradient(90deg, hsla(340, 80%, 69%, 1) 0%, hsla(15, 93%, 71%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(340, 80%, 69%, 1) 0%, hsla(15, 93%, 71%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(340, 80%, 69%, 1) 0%, hsla(15, 93%, 71%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#EF709B', endColorstr='#FA9372', GradientType=1 );">


  

    <nav style="display: inline-block;">
        
        <div style=" background-color: #ef6c00; height: 125px;" class="nav-wrapper" >
          <a  href="http://localhost:4000" class="brand-logo"><img style="width: 150px; height: 100px; margin-top: 10px; border-radius: 25%;" src="Logo.png" alt="Huge Basket"></a>
          <section style="float: left;"  class="bg-indigo-dark">
            <div style="text-align: center;" class="container mx-auto py-8">
                
                <div  style=" margin-left: 200px; margin-top: 25px; width: 650px;" class="input-field">
                    <i class="material-icons prefix">search</i>
                    <input id="icon_telephone" type="tel" class="validate">
                    <label for="icon_telephone">Search</label>
          
              
            </div>
        
            </div>
            
  
   
  
       
        
    </section>
 
          <ul style="display: inline-block;" class="right hide-on-med-and-down">

            <li><a data-position="bottom" data-tooltip="Food" href="http://localhost:4000/food" class="btn-floating pulse tooltipped"><i class="material-icons">local_dining</i> </a></li>
            <li><a  data-position="bottom" data-tooltip="Toys"href="http://localhost:4000/toys"class="btn-floating pulse tooltipped"><i class="material-icons">toys</i></a></li>
            <li><a  data-position="bottom" data-tooltip="More" href="http://localhost:4000/cart"class="btn-floating pulse tooltipped"><i class="material-icons">shopping_cart</i></a>
          </ul>
        </div>
      </nav>


    <!-- Page Layout here -->
    <div class="row">
     

        <div class="col s12 m4 l3"> <!-- Note that "m4 l3" was added -->
          <!-- Grey navigation panel
            
  
                This content will be:
            3-columns-wide on large screens,
            4-columns-wide on medium screens,
            12-columns-wide on small screens  -->
            
  
        </div>
  
    
  
      </div>
      <div class="parallax"></div>      
      <div class="jumbotron" >
        <div class="about">
            <h1 style="margin-left: 50px;"><span>Huge</span>Basket</h1>
            <h2><span>Groceries</span>|<span>Toys</span>|<span>Gifts</span></h2>
<h6>Huge Basket helps you to find your right resource for the right time in just a jiffy, with its easy to use UI, and fast NODE.js techknolwogy, you will be shopping in no time! So, make an account now, to be a free user and get subsrciption on new products every day! Get a weekly report and best products for you every week!</h6>
        
          </div>
          <div class="photo">
            <img src="Logo.png" alt="">
            </div>
            </div>
          </div>
      </div>
      <div class="parallax2"></div>  

            
       
      <div style="height:700px;" class="carousel carousel-slider center">
        <div class="carousel-fixed-item center">
          <!-- <a href="#footer" class="btn waves-effect white grey-text darken-text-2">Learn More</a> -->
            <!-- Modal Trigger -->
  <!-- Modal Trigger -->
  <a class="btn tooltipped" data-position="bottom" data-tooltip="Click to work!" class="btn modal-trigger" href="#modal1">Learn More</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>More Information</h4>
      <p>Check out the other webpages, buy some stuff, go to your cart and see all your items!</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
          
</div>
<div style="background-image: url(https://images.unsplash.com/photo-1581688084891-0cae8ad52111?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80); background-size: 1450px;  background-repeat: no-repeat;" class="carousel-item red white-text" href="#one!">
  <h2>Delivery</h2>
  <p class="white-text">Your saftey is our priority! We want to spread love, not COVID-19, so each and every person has been tested, they always wear masks and maintain social distancing</p>
</div>
<div  style="background-size: cover; background-repeat: no-repeat; background-image: url(https://images.unsplash.com/photo-1490645935967-10de6ba17061?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);"class="carousel-item amber white-text" href="#two!">
  <h2>Food</h2>
  <p class="white-text">To provide food to everyone, we have started the campaign, Food For Everyone! Our aim is to provide food to every person that needs it. It is to deliver right where they want!</p>
</div>
<div  style="background-size: 1500px; background-repeat: no-repeat; background-image: url(https://images.unsplash.com/photo-1584847107553-2680a50c748e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);" class="carousel-item green white-text" href="#three!">
  <h2>Toys</h2>
  <p class="white-text">We want each and every child to have the right to play and learn, which is why we provide learning, engaging fun toys at the least cost we can!</p>
</div>
<div style="background-size:cover; background-repeat: no-repeat; background-image: url(https://images.unsplash.com/photo-1513885535751-8b9238bd345a?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9);" class="carousel-item blue white-text" href="#four!">
  <h2>Gifts</h2>
  <p class="white-text">Gifts are amanner of showing joy, and showering affection and prosperity on our loved! So, why not get it from the best!</p>
</div>
</div>

      <div class="parallax3"></div>  
      
        <ul class="collapsible popout">
          
            <li>
              <div style="background: hsla(175, 79%, 63%, 1);

              background: linear-gradient(90deg, hsla(175, 79%, 63%, 1) 0%, hsla(82, 96%, 57%, 1) 100%);
              
              background: -moz-linear-gradient(90deg, hsla(175, 79%, 63%, 1) 0%, hsla(82, 96%, 57%, 1) 100%);
              
              background: -webkit-linear-gradient(90deg, hsla(175, 79%, 63%, 1) 0%, hsla(82, 96%, 57%, 1) 100%);
              
              filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#57EBDE', endColorstr='#AEFB2A', GradientType=1 );" class="collapsible-header"><i class="material-icons">local_cafe</i>Food</div>
              <div class="collapsible-body"><span>Food is any substance consumed to provide nutritional support for an organism. Food is usually of plant, animal or fungal in origin, and contains essential nutrients, such as carbohydrates, fats, proteins, vitamins, or minerals. The substance is ingested by an organism and assimilated by the organism's cells to provide energy, maintain life, or stimulate growth. Different species of animals have different feeding behaviours that satisfy the needs of their unique metabolisms, often evolved to fill a specific ecological niche within specific geographical contexts. Source -   <code>Wikipedia </code></span></div>
            </li>
            <li>
              <div style="background: hsla(175, 79%, 63%, 1);

              background: linear-gradient(90deg, hsla(175, 79%, 63%, 1) 0%, hsla(82, 96%, 57%, 1) 100%);
              
              background: -moz-linear-gradient(90deg, hsla(175, 79%, 63%, 1) 0%, hsla(82, 96%, 57%, 1) 100%);
              
              background: -webkit-linear-gradient(90deg, hsla(175, 79%, 63%, 1) 0%, hsla(82, 96%, 57%, 1) 100%);
              
              filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#57EBDE', endColorstr='#AEFB2A', GradientType=1 );" class="collapsible-header"><i class="material-icons">toys</i>Toys</div>
              <div class="collapsible-body"><span>A toy is an item that is used in play, especially one designed for such use. It is mainly intended for use by children, though may also be marketed to adults under certain circumstances. Playing with toys can be an enjoyable means of training young children for life in society. Different materials like wood, clay, paper, and plastic are used to make toys. Many items are designed to serve as toys, but goods produced for other purposes can also be used. Source - <code>Wikipedia </code></span></div>
            </li>
            <li>
              <div style="background: hsla(175, 79%, 63%, 1);

              background: linear-gradient(90deg, hsla(175, 79%, 63%, 1) 0%, hsla(82, 96%, 57%, 1) 100%);
              
              background: -moz-linear-gradient(90deg, hsla(175, 79%, 63%, 1) 0%, hsla(82, 96%, 57%, 1) 100%);
              
              background: -webkit-linear-gradient(90deg, hsla(175, 79%, 63%, 1) 0%, hsla(82, 96%, 57%, 1) 100%);
              
              filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#57EBDE', endColorstr='#AEFB2A', GradientType=1 );" class="collapsible-header"><i class="material-icons">card_giftcard</i>Gifts</div>
              <div class="collapsible-body"><span>A gift or a present is an item given to someone without the expectation of payment or anything in return. An item is not a gift if that item is already owned by the one to whom it is given. Although gift-giving might involve an expectation of reciprocity, a gift is meant to be free. In many countries, the act of mutually exchanging money, goods, etc. may sustain social relations and contribute to social cohesion. Economists have elaborated the economics of gift-giving into the notion of a gift economy. Source - <code>Wikipedia</code></span></div>
            </li>
          </ul>
          <div class="parallax4"></div>  


        <!-- FOOTER -->
    <footer id="footer" style="background-color:#ffab40;" class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Huge Basket</h5>
            <p class="grey-text text-lighten-4">Huge Basket is a small initiative to help farmers and people who are in
              need of resources. We also help people who need gifts and sell other stuff to help too. </p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Contact Us</h5>
            <p class="grey-text text-lighten-4">For any help, please feel free to drop us a message or use any of the link
              below!</p>
            <ul>
              <li><a class="grey-text text-lighten-3"
                  href="randomemail@hugebasket.in"><u>randomemail@hugebasket.in</u></a></li>
              <li><a class="grey-text text-lighten-3" href="#!">+91 882935810</a></li>
              <li><a class="grey-text text-lighten-3" href="https://www.amazon.com/"><u>Amazon Our Partner</u></a></li>
              <li><a class="grey-text text-lighten-3" href="https://www.flipkart.com"><u>Flipcart Our Partner</u></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          No © 2020 Huge Basket
          <a class="grey-text text-lighten-4 right" href="#!"></a>
        </div>
      </div>
    </footer>
  
    <ul style="text-align: center; margin-left: 600px; margin-top: 10px;" class="pagination">
      <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
      <li class="active"><a href="http://localhost:4000">1</a></li>
      <li class="waves-effect"><a href="http://localhost:4000/food">2</a></li>
      <li class="waves-effect"><a href="http://localhost:4000/toys">3</a></li>
      <li class="waves-effect"><a href="http://localhost:4000/cart">4</a></li>
      <li class="waves-effect"><a href="https://genderequality.netlify.app/">5</a></li>
      <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    </ul>
  

      <style type="text/css">
        .m20_0{ margin:20px 0px;}
    </style>
    <div class="m20_0">
      <!-- Element Showed -->
      <div class="fixed-action-btn waves-orange
      " style="bottom: 45px; right: 24px; ">
            <a id="menu"  onclick="$('.tap-target').tapTarget('open')" class="btn btn-floating btn-large waves-orange
            "><i class="material-icons">menu</i></a>
       </div>
    
      <!-- Start Tap Target Structure -->
      <div style="background-color: #00ff87;"  class="tap-target " data-activates="menu">
        <div class="tap-target-content white-text">
          <h5 style="text-align: center;">Huge Basket</h5>
          <p>This initiavtive is made by a 12 year old kid (me), I created this website too! This is one of the many initiaives that I am trying to take to complete the SDG's (Sustainable Development Goals) 2030! My first initiative was to Increase <a href="https://genderequality.netlify.app/">Gender Equality</a>. </p>
        </div>
      </div>
      <!-- End Tap Target Structure -->
    </div>
    </div> 
    




    

      
      <div class="col s12 m8 l9"> <!-- Note that "m8 l9" was added -->


       
<style>
    .body{
      background: hsla(16, 100%, 76%, 1);

background: linear-gradient(90deg, hsla(16, 100%, 76%, 1) 0%, hsla(49, 100%, 81%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(16, 100%, 76%, 1) 0%, hsla(49, 100%, 81%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(16, 100%, 76%, 1) 0%, hsla(49, 100%, 81%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFA585", endColorstr="#FFEDA0", GradientType=1 );
    }
    .jumbotron{
    height: 600px;
    border-radius: 26% 14% 0% 100% / 0% 0% 100% 100%;
   
    background: hsla(33, 100%, 53%, 1);

background: linear-gradient(90deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF930F", endColorstr="#FFF95B", GradientType=1 );
}
.jumbotron .photo img{
   flex: 50%;
    width: 300px;
    height: 300px;
    border-radius: 300px;
    margin-right:100px;
    margin-top: 100px;
    transition: transform 3s;
}
.jumbotron .photo img:hover{
    transform: rotateY(180deg);
    background-color: red;
}
.jumbotron .about {
  flex: 50%;
  padding-top: 150px;
}
.jumbotron{
    
    display: flex;
    flex-direction: row;
}
.jumbotron .about h1{
    font-size: 100px;
    color: hsl(17, 77%, 51%);
    text-shadow: 5px 5px gray;

}
.jumbotron .about h6{
    margin-left: 250px;
    font-size: 25px;
    color: #ff0f7b;
    text-shadow: 5px 5px 5px gray;
    

}
.jumbotron .about h1 span{
    color: #E34234;
}
.jumbotron .about h2{
    margin-left: 150px;
    letter-spacing: 5px;
}
.jumbotron .about h2 span{
    margin: 5px;
}
.parallax {
  
  background-image: url("https://images.unsplash.com/photo-1532680678473-a16f2cda8e43?ixlib=rb-1.2.1&w=1000&q=80");

  min-height: 500px; 


  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  
  background-image: url("https://images.unsplash.com/photo-1513151233558-d860c5398176?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");

  min-height: 550px; 


  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax3 {
  
  background-image: url("https://lh4.googleusercontent.com/proxy/UPaJDpqGGKy1YiaQ-yj-rs-Qv144leTBjHTG5was_N7ScqifkP0m9q6vYCBiSqdgx-PEsMpz6Jnz1DHo7JVrOz_3QFLKlwR8G3nZxwVceB3jBXte8dz0pQTSOUG2IxWTvFlx-dpTe_9JSmSK5cbF3tPr20lqbdd4V1BqMXTSNFTn0pkQh0RAnMh3CleTkAx--GNXM8fFePAILSyH-JU6febybNly0Q6K789suR8=s0-d");

  min-height: 550px; 


  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax4{

 background-image: url("https://cdn.pixabay.com/photo/2017/05/13/21/05/tree-2310654_960_720.jpg");

  min-height: 550px; 


  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="materialize.js"></script>
  <script src="init.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!--Import materialize.js-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</html>